<ion-header>
  <ion-toolbar>
    <ion-title>Connect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="connect(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="4" size-lg="4" size-xs="12">
            <div text-center>
              <h3>Connect to Drone Server</h3>
            </div>
            <div padding>
              <ion-card *ngIf="errorMessage" color="danger">
                <ion-card-content>
                  <p>
                    {{errorMessage}}
                  </p>
                </ion-card-content>
              </ion-card>
              <ion-item>
                <ion-label position="floating">URL</ion-label>
                <ion-input name="url" type="url" [placeholder]="defaultUrl" ngModel>
                </ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid || loading" expand="block" color="dark">
                {{!loading ? 'Connect' : ''}}
                <ion-spinner *ngIf="loading" name="crescent" color="light"></ion-spinner>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
