<ion-header>
  <ion-toolbar>
    <ion-title>Fly</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>

      <ion-col size-md="4" size-lg="4" size-xs="12">
        <app-fly-vars></app-fly-vars>
        <app-status [flightInfo]="flightInfo"></app-status>
      </ion-col>

      <ion-col size-md="4" size-lg="4" size-xs="12">
        <app-teleport></app-teleport>
        <ion-card>
          <ion-card-content>
            <ion-button (click)="reset()" expand="block">Reset Position</ion-button>
            <ion-button (click)="pickController()" expand="block">Pick Controller</ion-button>
            <ion-button (click)="configureController()" expand="block" disabled="gamepad.padIndex === -1">Config Controller</ion-button>
            <ion-button (click)="disconnect()" expand="block">Disconnect</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="4" size-lg="4" size-xs="12">
        <app-camera-vars></app-camera-vars>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>