<ion-header>
  <ion-toolbar>
    <ion-title>Fly</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>

      <ion-col align-self-center size-md="4" size-lg="4" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Status</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>
              <code>
                {{flightInfo}}
              </code>
            </p>
            <div justify-content-center>
              <ion-button (click)="disconnect()" expand="block">Disconnect</ion-button>
              <ion-button (click)="controllerConfig()" expand="block">Config Controller</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col align-self-center size-md="4" size-lg="4" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Teleport</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Position X:</ion-label>
                    <ion-input type="number" value="0" name="px"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Position Y:</ion-label>
                    <ion-input type="number" value="0" name="py"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Position Z:</ion-label>
                    <ion-input type="number" value="0" name="pz"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Rotation X:</ion-label>
                    <ion-input type="number" value="0" name="rx"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Rotation Y:</ion-label>
                    <ion-input type="number" value="0" name="ry"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Rotation Z:</ion-label>
                    <ion-input type="number" value="0" name="rz"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div justify-content-center>
              <ion-button (click)="teleport()" expand="block">Teleport</ion-button>
              <ion-button (click)="reset()" expand="block">Reset Position</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>