<ion-card>
  <ion-card-header>
    <ion-card-title>Flight Config</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card *ngIf="controllerUnavailable" color="danger">
      <ion-card-content>
        No Controller Connected!
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label>Flight Mode</ion-label>
      <ion-select #flightMode (ionChange)="setFlightMode()" [disabled]="controllerUnavailable">
        <ion-select-option value="0" selected>Disabled</ion-select-option>
        <ion-select-option value="1">Minecraft Creative</ion-select-option>
        <ion-select-option value="2">Gmod Noclip</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Movement Speed</ion-label>
      <ion-input [(ngModel)]="moveSpeed" type="number" [disabled]="controllerUnavailable" (change)="updateFloat(2, moveSpeed)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rotation Speed</ion-label>
      <ion-input [(ngModel)]="rotSpeed" type="number" [disabled]="controllerUnavailable" (change)="updateFloat(3, this.value)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Movement Smoothing</ion-label>
      <ion-input [(ngModel)]="moveSmooth" type="number" [disabled]="controllerUnavailable" (change)="updateFloat(4, this.value)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rotation Smoothing</ion-label>
      <ion-input [(ngModel)]="rotSmooth" type="number" [disabled]="controllerUnavailable" (change)="updateFloat(5, this.value)"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>